#controlHeader ($action $customField.id $customField.name $fieldLayoutItem.required $displayParameters.noHeader)
<input type="number" name="$customField.id" value="$!value" pattern="\d+" min="0" />
#controlFooter ($action $fieldLayoutItem.fieldDescription $displayParameters.noHeader)
